# Database
DATABASE_URL=sqlite:///./remindly.db

# JWT Secrets (CHANGE THESE!)
SECRET_KEY=change-me-to-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7


# API Keys
MISTRAL_API_KEY=your-mistral-api-key-here   

# Email SMTP (Gmail Example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-email-password
EMAIL_FROM=Remindly Event <noreply@remindly.com>